@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #53A622;
  --secondary: #9ED321;
  /* Courses Colors */
  --biologicas: #9CD33B;
  --linguagens: #6BD1FF;
  --matematica: #E53935;
  --humanas: #6F2F79;
  /* Sup Colors*/
  --black: #000000;
  --blackLight: #474747;
  --blackLightner: #a8a8a8;
  --grayDark: #C2C2C2;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --white: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}
